/* Base styles for the navbar */
.navbar {
    background: #F48F51;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    padding: 0 20px;
}

.nav-logo {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
    list-style: none;
    text-align: center;
    justify-content: end;
    margin-right: 2rem;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 80px;
}

.nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.nav-links:hover, .nav-links.active {
    background-color: #cc7033;
    border-radius: 4px;
}

.menu-icon {
    display: none;
    color: #fff;
    cursor: pointer;
}

/* Styles for when menu icon is clicked */
@media screen and (max-width: 960px) {
    .nav-menu {
        position: fixed;
        top: 64px; /* Menu starts from the top */
        right: -32px;
        width: 50%; /* Fixed width for the side menu */
        height: 100%;
        padding-left: 0;
        padding-right: 0;
        transform: translateX(100%);
        display: block;
        flex-direction: column;
        background: #F48F51;
        opacity: 0; /* Hide initially */
        z-index: 999; /* High z-index to ensure it's on top */
        overflow-y: auto; /* Allows scrolling if the menu is too long */
        border-top: 1px solid #000;
    }

    .nav-menu.active {
        transform: translateX(0);
        opacity: 1; 
        transition: transform 0.3s ease-out, opacity 0.3s ease-in;
    }

    .nav-item {
        width: 100%;
        display: block;
    }

    .nav-links {
        text-align: center; /* Center align the text */
        padding: 1.5rem; /* More padding for clickable area */
        width: auto;
        display: block; /* Block display for full width */
        border-bottom: 1px solid #565656; /* Add a separator */
        transition: color 0.3s ease-out, background-color 0.3s ease-out;
    }

    .nav-links:hover {
        background-color: #cc7033;
        color: #fff;
        border-radius: 0; /* Remove border radius for side menu */
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 2rem;
        z-index: 1001; /* Ensures the icon is above other content */
    }
}
